<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Account</title>
</head>
<body>
<form name="deleteacc" action="/deleteaccount" method="post">
    <label>Name:</label>
    <br>
    <input type="text" name="name">
    <br><br>
    <label>Email:</label>
    <br>
    <input type="email" name="email">
    <br><br>
    <label>Password:</label>
    <br>
    <input type="password" name="password">
    <br><br>
    <input type="submit" value="Delete">
</form>
</body>
</html>