<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<form name="Search by Email" action="/deleteanycomment" method="post">
    <label>Email:</label>
    <br>
    <input type="email" name="email">
    <br><br>
    <label>User email:</label>
    <br>
    <input type="email" name="useremail">
    <br><br>
    <label>Movie's title:</label>
    <br>
    <input type="text" name="title">
    <br><br>
    <label>Year:</label>
    <br>
    <input type="number" name="year">
    <br><br>

<input type="submit" value="Delete Comment">
    
</form>
</body>
</html>