<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    
    <form action="/login">
        <input type="submit" value="Login"/>
    </form>
    <form action="/logout">
        <input type="submit" value="Logout"/>
    </form>
    <form action="/register">
        <input type="submit" value="Register"/>
    </form>

<h2>User Endpoints</h2>
<form action="/moviesby">
    <input type="submit" value="Search Movies by title year or actor"/>
</form>
<form action="/getinfo">
    <input type="submit" value="Get movie information or movie comments"/>
</form>
<form action="/addrating">
    <input type="submit" value="Rate a movie"/>
</form>
<form action="/removerating">
    <input type="submit" value="Remove rating you have assigned"/>
</form>
<form action="/addcomment">
    <input type="submit" value="Add a comment to a movie"/>
</form>
<form action="/getuserinfo">
    <input type="submit" value="Get a users comments or ratings"/>
</form>
<form action="/deletecomment">
    <input type="submit" value="Delete your own comment from a movie"/>
</form>
<form action="/deleteaccount">
    <input type="submit" value="Delete my account"/>
</form>

<h2>Admin Endpoints</h2>
<form action="/addmovie">
    <input type="submit" value="Add a movie to the database"/>
</form>
<form action="/deletemovie">
    <input type="submit" value="Delete a movie from database"/>
</form>
<form action="/update">
    <input type="submit" value="Update a movie's information"/>
</form>
<form action="/deleteanycomment">
    <input type="submit" value="Delete any user's comment"/>
</form>
<form action="/makeadmin">
    <input type="submit" value="Give a user admin priviledges"/>
</form>
<form action="/deleteuser">
    <input type="submit" value="Delete any user account"/>
</form>
</head>
<body>


</body>
</html>