<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate</title>
</head>
<body>
<form name="removerating" action="/removerating" method="post">
    <label>Email:</label>
    <br>
    <input type="email" name="email">
    <br><br>
    <label>Movie title:</label>
    <br>
    <input type="text" name="title">
    <br><br>
    <label>Year:</label>
    <br>
    <input type="number" name="year" min="1870" max="2030">
    
    <input type="submit" value="Remove Rating">
</form>
</body>
</html>