<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Movie</title>
</head>
<body>
<form name="Search by Email" action="/update" method="post">
    <label>Email:</label>
    <br>
    <input type="email" name="email" required>
    <br><br>
    <label>Movie title:</label>
    <br>
    <input type="text" name="title" required>
    <br><br>
    <label>Year:</label>
    <br>
    <input type="number" name="year" min="1850" max="2030" required>
    <br><br>
    <label>Description:</label>
    <br>
    <textarea name="description" from="update" rows="4" cols="30" ></textarea>
    <br><br>
    <label>Actor</label>
    <br>
    <input type="text" name="actors" required>
    <br>
    <label>Actor</label>
    <br>
    <input type="text" name="actors">
    <br>
    <label>Actor</label>
    <br>
    <input type="text" name="actors">
    <br>
    <label>Actor</label>
    <br>
    <input type="text" name="actors">
    <br>
    <label>Actor</label>
    <br>
    <input type="text" name="actors">
    <br>
    <label>Actor</label>
    <br>
    <input type="text" name="actors">
    <br>
    <label>Actor</label>
    <br>
    <input type="text" name="actors">
<input type="submit" value="Update Movie">
    
</form>
</body>
</html>